body{
    background-color: rgb(96, 170, 161);
    color: whitesmoke;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#container{
    width: 65%;
    margin: auto;
}

#post{
    border: 2px solid rgb(171, 219, 228);
    padding: 15px;
    text-align: left;
    background-color: rgb(0, 204, 255);
    box-shadow: -3px 6px 20px 0px black;
    margin-bottom: 15px;
}


#cabecera{
    background: rgb(5, 59, 206);
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.5);
    color: white;
    margin: 0px 0px 10px 0px;
    padding: 1.2em;
    font-weight: bold;
    font-size: large;
    text-align: left;
}   

#cabecera #tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}
